table { 
	border-collapse: collapse; 
	text-align: center; width: 100%;	 
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	border: 7px solid #652299;
	border-radius: 10px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #929937), color-stop(1, #7C7F7D) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#929937', endColorstr='#7C7F7D');
	background-color:#929937; 
	color:#33FF8B; font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid #37A88E;
}

table th {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
		background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
		background-color:#006699; color:#ffffff; font-size: 15px; font-weight: bold; border-left: 1px solid black;
}

table td {
		color:red;
		border-left:1px solid black;
		border-right:1px solid black;
}

table tr {
		color:red;
		border-top: 1px solid black;
		border-left:1px solid black;
		border-right:1px solid black;
		border-bottom:1px solid black;
}